@model NavlinkSetup
@{
    ViewData["Title"] = "Update";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Navlink/Index">NavlinkSetup</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Pivacy
        </div>
        <div class="card-body">
            <div class="form-group">

                <form asp-area="Admin" asp-controller="Navlink" asp-action="Create" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label class="control-label">Basic navbar link</label>
                        <select asp-for="BasicProductId" class="form-control" asp-items="ViewBag.products"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Advance navbar link</label>
                        <select asp-for="AdvanceProductId" class="form-control" asp-items="ViewBag.products"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ultimate navbar link</label>
                        <select asp-for="UltimateProductId" class="form-control" asp-items="ViewBag.products"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
            $('.summernote').summernote({
                tabsize: 2,
                height: 500
            });
        });

    </script>
}