@model ContactUs
@{
    ViewData["Title"] = "Update";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Contact/Index">Contact us</a>
        </li>
        <li class="breadcrumb-item active">Update</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Contact us
        </div>
        <div class="card-body">
            <div class="form-group">

                <form asp-area="Admin" asp-controller="Contact" asp-action="Update" method="post" enctype="multipart/form-data">
                    @Html.HiddenFor(s=>s.ContactUsId)
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="Title" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea asp-for="Description" class="summernote" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Map IFrame</label>
                        <input asp-for="MapUrl" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
            $('.summernote').summernote({
                tabsize: 2,
                height: 500
            });
        });

    </script>
}