@model Lexpert.Models.ProductVM
@{
    ViewData["Title"] = "Create";
}


@Html.AntiForgeryToken()
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Product/Index">Product</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Product
        </div>
        <div class="card-body">
            <div class="form-group">

                <form asp-area="Admin" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Name(Write product name in details)</label>
                                <input class="form-control" asp-for="ProductName" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Amazon Link(Must included with all product)</label>
                                <input class="form-control" asp-for="Amazonlink" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Short Description(Will display under product name)</label>
                                <input class="form-control" asp-for="ShortDescription"  />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Cart Description(Only on home page product cart)</label>
                                <input class="form-control" asp-for="CartDescription"  />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Video Title</label>
                                <input class="form-control" asp-for="VideoName" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Video link(IFrame from youtube)</label>
                                <input class="form-control" asp-for="VideoUrl" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Is feature(If this marked it will show in the homepage)<input class=""
                                                                                                  id="IsFeature"
                                                                                                  name="IsFeature"
                                                                                                  type="checkbox"
                                                                                                  value="true" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Descrption(Product List)</label>
                                <textarea asp-for="Description" class="summernote" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Details(Both in list and details)</label>
                                <textarea asp-for="OtherDescription" class="summernote" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4>Primary Images(Will appear on list as like profile image)</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="ProfileImageFile" class="form-control dropify" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="ProfileImage1File" class="form-control dropify">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="ProfileImage2File" class="form-control dropify">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4>Feature Images(Will apear in only details page)</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="FeatureImage1File" class="form-control dropify" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="FeatureImage2File" class="form-control dropify" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="FeatureImage3File" class="form-control dropify">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="FeatureImage4File" class="form-control dropify">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="file" asp-for="FeatureImage5File" class="form-control dropify">
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-block btn-success" type="submit">Add product</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
            $('.summernote').summernote({
                tabsize: 2,
                height: 200
            });
        });

    </script>
}