@model Privacy
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Privacy/Index">Privacy</a>
        </li>
        <li class="breadcrumb-item active">Index</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Privacy
        </div>
        <div class="card-body">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a  class="btn btn-outline-success" href="/Admin/Privacy/Edit?id=@Model.Id"><i class="fa fa-edit"></i>Edit</a>
                    </div>
                    <div class="col-md-12">
                        <p class="text-warning">Details</p>
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
            }
            else
            {
                <div class="row">

                    <div class="col-md-12 text-center">
                        <a href="/Admin/Privacy/Create" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Create</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>